<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CalendarEntities" connectionString="metadata=res://*/CalendarEntities.csdl|res://*/CalendarEntities.ssdl|res://*/CalendarEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6CLAM5L\TIENDAT_SQL;initial catalog=CalendarOOAD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>